.footer {
  width: 100%;
  background: $white;
  padding: 32px calc((100% - 1290px) / 2);
  margin-top: auto;

  .block__content {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1023px) {
      flex-flow: wrap;
    }
    @media (max-width: 767px) {
      flex-flow: column nowrap;
    }
  }

  @media (max-width: 767px) {
    padding: 24px calc((100% - 1290px) / 2) 0;

  }

}

.footer__copyright, .footer__link {
  font-family: SF-Pro-Display-Regular, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $black;
  text-decoration: none;
}

.footer__copyright {
  @media (max-width: 767px) {
    display: none;

  }
}

.footer__copyright_mobile {
  display: none;
  @media (max-width: 767px) {
    display: flex;
    font-size: 14px;
    line-height: 18px;
    margin-top: 24px;
    padding: 12px 0;
    border-top: 1px solid $line-gray;
  }
}

.footer__column {
  display: flex;
  flex-flow: column;
  @media (max-width: 1023px) {
    width: 50%;
    align-items: center;
    &:nth-child(3), &:nth-child(4) {
      margin-top: 20px;

    }
    @media (max-width: 767px) {
      width: 100%;
      align-items: flex-start;

    }

  }
}

.footer__column_logo-block {
  justify-content: space-between;
}

.footer__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 18px;

  }
}

.logo_footer {
  width: 150px;
  @media (max-width: 767px) {
    margin-bottom: 24px;
  }
}

.footer__link-list {
  margin-top: 22px;
  display: flex;
  flex-flow: column;
  row-gap: 20px;
  @media (max-width: 767px) {
    margin-top: 20px;
    row-gap: 16px;

  }
}

.footer__link {
  display: inline-flex;
  align-items: center;

  &:hover {
    color: $orange;
  }

  svg {
    margin-right: 12px;
  }

  @media (max-width: 767px) {
    font-size: 14px;

  }
}

.footer__social-links {
  display: flex;

  .footer__link {
    margin-right: 24px;
  }
}