.footer {
  width: 100%;
  background: $white;
  padding: 32px calc((100% - 1330px) / 2);
  margin-top: auto;

  .block__content {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }

  @media (max-width: 1023px) {
    .block__content {
      flex-flow: wrap;
      width: 700px;
    }
  }

  @media (max-width: 767px) {
    padding: 24px 0 0;

    .block__content {
      flex-flow: column nowrap;
      width: 100%;
    }
  }
}

.footer__copyright, .footer__link {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $black;
  text-decoration: none;
}

.footer__copyright:not(.footer__copyright_mobile) {
  @media (max-width: 767px) {
    display: none;
  }
}

.footer__copyright_mobile {
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  padding: 12px 0;
  border-top: 1px solid $line-gray;
}

.footer__column {
  display: flex;
  flex-flow: column;

  @media (max-width: 1023px) {
    width: 50%;
  }
  @media (max-width: 767px) {
    width: 100%;
    align-items: flex-start;
  }
}

.footer__column_logo-block {
  justify-content: space-between;
}

.footer__column_help, .footer__column_contacts{
  @media (max-width: 1023px) {
    margin-top: 20px;
  }
}

.footer__column_about, .footer__column_help{
  @media (max-width: 1023px) and (min-width: 768px){
    order: -1;
    margin: 0;
  }
}

.footer__column_help, .footer__column_contacts{
  @media (max-width: 1023px) and (min-width: 768px){
    text-align: right;
    .footer__link,.footer__social-links{
      justify-content: flex-end;
    }
  }
}

.footer__column_copyright-mobile{
  display: none;
  @media (max-width: 767px) {
    display: flex;
    margin-top: 24px;
  }
}

.footer__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 18px;

  }
}

.logo_footer svg{
  width: 144px;
  height: 80px;
  @media (max-width: 767px) {
    margin-bottom: 24px;
  }
}

.footer__link-list {
  margin-top: 22px;
  display: flex;
  flex-flow: column;
  & >:last-child{
    margin-bottom: 0;
  }
  @media (max-width: 767px) {
    margin-top: 20px;
  }
}

.footer__link {
  display: inline-flex;
  align-items: center;
  margin-bottom: 20px;

  &:hover {
    color: $orange;
  }

  svg {
    margin-right: 12px;
  }

  @media (max-width: 767px) {
    font-size: 14px;
    margin-bottom: 16px;
  }
}

.footer__social-links {
  display: flex;

  .footer__link {
    margin-right: 24px;
    margin-bottom: 0;
    &:last-of-type{
      margin-right: 0;
    }
  }
}