*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
  transition: all ease-in-out 0.3s;
}

html, body {
  height: 100%;
  background: $white;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  background: transparent;
}

img {
  width: 100%;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  overflow: hidden;

  background: $background-gray
}

.header {
  width: 100%;
}

.header__menu {
  position: relative;
  * {
    font-family: Inter-Regular, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    color: $black;
  }
  &.active {
    z-index: 100;
  }
}

.menu__row {
  display: flex;
  align-items: center;
  padding: 10px calc((100% - 1290px) / 2);
  border-bottom: 1px solid $line-gray;
  background: $white;
  position: relative;

}

.menu__row_top {
  height: 40px;
}

.menu__row_bottom {
  height: 64px;
}

.menu__location {
  display: flex;
  align-items: center;
  height: 20px;
  @media (max-width: 767px) {
    margin-left: 20px;


  }
}

.menu__location-select {
  width: 72px;
  @media (max-width: 767px) {
    font-size: 12px;
    line-height: 16px;

  }
}

.menu__check-address {
  margin: 0 40px;
  background: transparent;
  @media (max-width: 767px) {
    display: none;

  }
}

.menu__average-delivery-time {
  span {
    font-weight: bold;
  }

  @media (max-width: 767px) {
    margin-left: auto;
    font-size: 12px;
    line-height: 16px;
    margin-right: 20px;
    span {
      font-size: 12px;
      line-height: 16px;
    }

  }
}
.menu__login {
  &:hover {
    transform: scale(1.05);
  }
  &.active +.login-popup {

    opacity: 1;
    visibility: unset;

  }
}
.menu__login-wrapper {
  position: relative;
}
.login-popup {
  width: 285px;
  background: #FFFFFF;
  border: 1px solid #F0F0F0;
  box-sizing: border-box;
  box-shadow: 0 2px 8px rgba(25, 25, 25, 0.1);
  border-radius: 12px;
  position: absolute;
  display: flex;
  flex-flow: column;
  top: 40px;
  right: -83px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out all;
  z-index: 1;


}
.login-popup__bonus {
  padding: 20px;
  font-family: Inter-SemiBold,sans-serif;
  color:$orange;
  font-size: 16px;
}
.login-popup__btns {
  display: flex;
  flex-flow: column;
  border-top: 1px solid $line-gray;
  border-bottom: 1px solid $line-gray;
}
.login-popup__btn {
  padding: 20px;
  font-size: 16px;
  text-align: left;
  &:hover {
    background: $light-primary;
  }
}
.login-popup__close {
  color: $gray-text;
  border-radius: 0 0 12px 12px;
}
.login-popup__rect {
  width: 16px;
  height: 16px;
  background: $white;
  border-top: 1px solid $line-gray;
  border-right: 1px solid $line-gray;
  border-radius: 2px;
  position: absolute;
  transform: rotate(-45deg) translateX(50%);
  top: -3px;
  right: 50%;

}

.menu__working-time {
  margin-left: auto;
  @media (max-width: 767px) {
    display: none;

  }
}

.menu__login {
  display: flex;
  align-items: center;
  margin-left: 41px;

  svg {
    margin-right: 10px;
  }

  @media (max-width: 767px) {
    display: none;

  }
}

.logo {
  display: flex;
  align-items: center;

  @media (max-width: 767px) {
    margin-left: 20px;
  }
}

.standard-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 150px;
  height: 48px;
  background: $orange;
  border-radius: 6px;

  font-family: SF-Pro-Display-Regular, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  color: $white;

  &:hover {
    opacity: 0.8;
  }
}

.standard-title {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  color: $black;
}

.menu__cart {
  width: auto;
  margin-left: auto;
  padding: 8px 16px;
  height: 40px;
  position: relative;



  svg {
    margin-right: 8px;
  }

  @media (max-width: 767px) {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    svg {
      margin-right: 0;
    }

  }
}
.menu__cart-popup {
  width: 245px;
  background: #FFFFFF;
  box-shadow: 0 2px 4px rgba(25, 25, 25, 0.1);
  border-radius: 58px;
  padding: 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -65px;
  right: 0;
  opacity: 0;
  visibility: hidden;
  p {
    font-family: Inter-SemiBold ,sans-serif;
    font-size: 14px;
  }
  &.active {
    opacity: 1;
    visibility: visible;
  }



}

.menu__cart-cost {
  font-family: SF-Pro-Display-Regular, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  margin-left: 2px;

  span {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    margin-left: 2px;

  }

  @media (max-width: 767px) {
    color: $orange;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid $orange;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    font-size: 12px;
    line-height: 16px;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    background: #FFFFFF;
    span {
      display: none;
    }

  }
}

.menu__burger {
  display: none;
  width: 32px;
  height: 20px;
  flex-flow: column;
  justify-content: space-between;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }

  &.active {
    .menu__burger-line_2 {
      opacity: 0;
    }

    .menu__burger-line_1 {
      transform: rotate(+45deg) translateY(13px);
    }

    .menu__burger-line_short {
      transform: rotate(-45deg) translateY(-13px);
      width: 32px;
    }
  }


  @media (max-width: 767px) {
    display: flex;
    margin-left: auto;
    margin-right: 20px;


  }
}

.menu__burger-line {
  height: 2px;
  width: 32px;
  background: #191919;
  border-radius: 1px;
}

.menu__burger-line_short {
  width: 24px;
}

.menu__login_mobile {
  display: none;
  @media (max-width: 767px) {
    display: flex;
    margin-left: 0;
    font-size: 16px;
    &:hover {
      svg {
        transform: scale(1.05);
      }
    }
    svg {
      width: 24px;
      height: 24px;

    }


  }
}

.mobile-menu {
  display: none;
  flex-flow: column;
  background: $white;
  position: absolute;
  top: 104px;
  left: 0;
  width: 100%;
  z-index: 100;
  transform: translateX(100%);
  transition: ease-in-out all 0.7s;
  .footer__link-list {
    margin: 0;
  }
  &.active {
  transform: translateX(0);

  }
  @media (max-width: 767px) {
    display: flex;

  }

}

.mobile-menu__row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $line-gray;
  padding: 20px;
  &:last-child {
    justify-content: center;
  }
}

.mobile-menu__list {
  display: flex;
  flex-flow: column;
  row-gap: 20px;
}

.mobile-menu__row-item {
  text-decoration: none;
  &:hover {
    transform: scale(1.01);
  }

}
.mobile-menu__row-time {
  color: #a5a5a5;
  font-size: 14px;
  line-height: 18px;
  text-align: center;

}
.custom-select_city {
  margin-left: 8px;
  padding-right: 15px;
  .custom-select__list_city {
    top: 18px;

  }
  .custom-select__arrow_city {
    top: 50%;
    transform: translateY(-50%);
    right: -14px;
  }

}
.custom-select__header_city {
  &:hover {
    transform: scale(1.05);
  }
}
.custom-select__list_city {
  background: #FFFFFF;
  border-radius: 15px;
  border: 1px solid $line-gray;
  overflow: hidden;
  width: 150px;



}
.custom-select__list-item_city {
  padding: 10px;


  &:hover {
    background: $light-primary;

  }
}