.popup {
  z-index: -1;
  opacity: 0;
  visibility: hidden;

  &.active {
    z-index: 100;
    opacity: 1;
    visibility: unset;
  }
}

// Mini-popups/
.mini-popup {
  position: absolute;
  box-shadow: 0 2px 8px rgba(25, 25, 25, 0.1);
  border-radius: 12px;
  top: 40px;

  .popup__content {
    position: relative;
    display: flex;
    flex-flow: column;
    padding: 12px 0;
    border-radius: inherit;
    border: 1px solid #F0F0F0;
    background: #FFFFFF;
  }
}

.popup_account-menu {
  width: 285px;
  right: -83px;
}

.popup_menu-nav {
  right: -110px;
  max-width: 300px;
  width: auto;
}

.popup_calendar {
  width: 400px;
  .popup__content {
    padding: 0;
  }
}

.popup__close-area {
  position: fixed;
  content: '';
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.mini-popup__bonus {
  padding: 8px 20px 16px;

  font-weight: 600;
  color: $orange;
  font-size: 16px;
}

.mini-popup__btns {
  display: flex;
  flex-flow: column;
  padding: 16px 20px;
  border-top: 1px solid $line-gray;
  border-bottom: 1px solid $line-gray;
  row-gap: 16px;
}

.mini-popup__btn {
  font-size: 16px;
  text-align: left;

  &:hover {
    color: $gray-text;

  }
}

.mini-popup__close {
  padding: 16px 20px 8px;
  color: $gray-text;
  border-radius: 0 0 12px 12px;
  text-decoration: none;
}

.mini-popup__top {
  width: 16px;
  height: 16px;
  background: $white;
  border-top: 1px solid $line-gray;
  border-right: 1px solid $line-gray;
  border-radius: 2px;
  position: absolute;
  transform: rotate(-45deg) translateX(50%);
  top: -3px;
  right: 50%;
}

// /Mini-popups

//<!-- Popup filter Block -->

.filter-popup {
  width: 100%;
  height: 100%;
  color: #191919;

  transform: translateX(100%);
  transition: ease-in-out all 0.5s;
  position: fixed;
  top: 0;
  right: 0;
  background: #FFFFFF;
  max-width: 520px;
  max-height: 100vh;
  z-index: 100;
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  &.active {
    transform: translateX(0);
  }

  @media (max-width: 767px) {
    top: 40px;
    border-radius: 16px 16px 0 0;
    max-height: 95vh;
  }
}

.filter-popup__table-content {
  padding: 15px 20px;
  display: flex;
  flex-flow: column;
  overflow-y: auto;
}

.filter-popup__title {
  display: flex;
  align-items: center;

  p {
    font-size: 30px;

    font-weight: 600;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.cross {
  width: 24px;
  height: 24px;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

.cross_absolute-right {
  position: absolute;
  top: 0;
  right: -62px;
  width: 32px;
  height: 32px;
}

.right-popup__cross {
  margin-left: auto;
}

.filter-popup__block {
  margin-top: 15px;
  display: flex;
  flex-flow: column;

}

.filter-popup__block-title {
  font-size: 16px;
  color: #A5A5A5;
  font-family: Inter, sans-serif;
  @media (max-width: 767px) {
    font-size: 14px;
  }

}

.filter-popup__block-row {
  display: flex;
  flex-flow: wrap;
  max-width: 440px;
  width: 100%;
}

.filter-popup__filter-btn {
  font-size: 14px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  border-radius: 6px;
  border: 1px solid #F0F0F0;
  margin: 8px 8px 0 0;
  cursor: pointer;
  transition: ease-in-out all 0.1s;

  &:hover {
    transform: scale(1.05);
  }

  &.active {
    background: $orange;
    border: 1px solid $orange;
    color: $white;
  }

  @media (max-width: 767px) {
    font-size: 12px;
    padding: 0 16px;
  }
}

.filter-popup__btns-group {
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #F0F0F0;
  margin-top: auto;

}

.filter-popup__button_orange {
  background: #FFFFFF;
  border: 1px solid #EF2B51;
  color: #EF2B51;
  margin-right: 20px;
}

.filter-popup__button {
  width: 48%;
  @media (max-width: 767px) {
    font-size: 14px;
    height: 44px;
  }
}

//<!-- /Popup filter Block -->


//<!-- Popup choose product -->
.choose-item-popup {
  max-width: 1132px;
  width: 100%;
  max-height: 680px;
  position: fixed;
  left: 50%;
  top: 50%;
  color: #191919;

  transform: scale(0) translate(-50%,-50%);
  display: flex;
  justify-content: center;
  align-items: center;

  .item-card__tag {
    top: 32px;
    width: 82px;
    height: 40px;
    padding: 8px 20px;
    font-size: 18px;
    line-height: 24px;
  }

  &.active {
    transform: scale(1) translate(-50%,-50%);
  }

  @media (max-width: 767px) {
    max-height: 95vh;
    .item-card__tag {
      top: 18px;
    }
  }
}


.choose-item-popup__table {
  width: 100%;
  background: #ffffff;
  border-radius: 24px;
  padding: 32px 20px 20px 60px;
  display: flex;
  margin-right: 62px;
  position: relative;

  @media (max-width: 1175px) {
    max-width: 930px;
  }
  @media (max-width: 1023px) {
    padding: 10px;
    max-width: 700px;

  }
  @media (max-width: 767px) {
    flex-flow: column;
    max-height: 93vh;
    height: 100%;
    align-items: center;
    margin-right: 0;
    max-width: 530px;
    border-radius: 16px 16px 0 0;
    justify-content: flex-start;
    overflow-y: auto;
  }
}

.choose-item-popup__column {
  display: flex;
  flex-flow: column;
  justify-content: center;

}

.choose-item-popup__img {
  max-width: 450px;
  width: 100%;

  img {
    width: 100%;
  }

  @media (max-width: 767px) {
    width: 260px;
    height: 260px;
  }
}

.choose-item-popup__column_text {
  margin-left: 60px;
  max-width: 480px;
  width: 100%;
  @media (max-width: 1023px) {
    margin-left: 10px;
    max-width: 420px;
  }
  @media (max-width: 767px) {
    margin-left: 0;
    max-width: 350px;
    min-height: 570px;
    max-height: 100vh;
    height: 100%;
    justify-content: flex-start;

  }
}

.choose-item-popup__title {
  display: flex;
  align-items: center;
}

.choose-item-popup__title-img {
  width: 24px;
  height: 24px;

}

.choose-item-popup__title-info {
  width: 24px;
  height: 24px;
  margin-left: auto;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  @media (max-width: 767px) {
    position: absolute;
    top: 25px;
    right: 20px;

  }

}

.choose-item-popup__title-text {
  margin-left: 8px;

  font-weight: 600;
  font-size: 20px;
  @media (max-width: 767px) {
    font-size: 18px;

  }

}

.choose-item-popup__btns {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  @media (max-width: 767px) {
    overflow-x: scroll;
  }


}

.choose-item-popup__btn {

  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 105px;
  width: 100%;
  position: relative;

  &:hover {
    .choose-item-popup__btn-img {
      border: 1px solid $orange;
    }
  }


  &.active {
    .choose-item-popup__btn-img {
      border: 1px solid $orange;
    }

    .choose-item-popup__status_apply {
      display: unset;
    }

  }

  .choose-item-popup__status {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1;
  }

  .choose-item-popup__status_cross {
    display: none;
  }

  .choose-item-popup__status_apply {
    display: none;
  }

  @media (max-width: 1023px) {
    margin-right: 3px;
    &:last-child {
      margin-right: 0;
    }
  }
  @media (max-width: 767px) {
    max-width: 90px;
    margin-right: 12px;

  }

}

.choose-item-popup__btn_remove-ingredient.active {
  .choose-item-popup__btn-name {
    color: $gray-text;
  }

  .choose-item-popup__btn-img {
    border: 1px solid $line-gray;

    svg {
      path {
        fill: $gray-text;
      }
    }
  }

  .choose-item-popup__status_cross {
    display: unset;
    z-index: 2;
  }
}

.choose-item-popup__btn-img {
  width: 105px;
  height: 105px;
  border: 1px solid #F0F0F0;
  border-radius: 12px;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 767px) {
    width: 90px;
    height: 90px;
    svg {
      width: 32px;
    }

  }

}

.choose-item-popup__btn-name {
  margin-top: 8px;
  font-size: 14px;
  line-height: 140%;
  @media (max-width: 767px) {
    font-size: 12px;
    line-height: 16px;
  }

}

.choose-item-popup__switch-row {
  display: flex;
  width: 100%;
  margin-top: 24px;
  height: 48px;
  border: 1px solid #F0F0F0;
  border-radius: 6px;
  position: relative;

}

.switch__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  background: $orange;
  height: 100%;
  border-radius: 6px;


}

.switch {
  position: relative;
  background: #ffffff;
}

.choose-item-popup__switch {
  width: 50%;

  font-size: 16px;
  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 16px;
  }
}

.switch__btn {
  position: relative;

  &.active {
    color: $white;
  }
}

.choose-item-popup__switch-row_trio {
  margin-top: 16px;

  .choose-item-popup__switch {
    width: 33.333%;
  }

  @media (max-width: 767px) {
    margin-top: 12px;

  }

}

.choose-item-popup__another-title {
  font-size: 16px;

  font-weight: 600;
  margin-top: 24px;
}

.choose-item-popup__btn-cost {
  margin-top: 2px;
  font-size: 14px;
  color: #EF2B51;

  font-weight: 600;
}

.choose-item-popup__last-row {
  display: flex;
  align-items: center;
  margin-top: 24px;
  @media (max-width: 767px) {
    margin-top: auto;
    padding-top: 12px;
    border-top: 1px solid $line-gray;
  }

}

.choose-item-popup__result {

  color: #EF2B51;
  font-size: 20px;
  font-weight: 600;

  span {
    font-size: 14px;
    color: #A5A5A5;

    margin-left: 12px;
    font-weight: 500;
  }

  @media (max-width: 767px) {
    display: flex;
    flex-flow: column;
    font-size: 18px;
    line-height: 22px;
    span {
      margin-left: 0;

    }
  }
}

.choose-item-popup__result-btn {
  margin-left: auto;
}

//<!-- /Popup choose product -->

//<!-- Popup cart  -->
.cart-popup {

  position: fixed;
  top: 0;
  right: 0;
  background: $white;
  max-height: 100vh;
  max-width: 420px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  transform: translateX(100%);
  z-index: 105;

  &.active {
    transform: translateX(0);
  }

  @media (max-width: 767px) {
    top: 40px;
    max-height: 95vh;
    border-radius: 16px 16px 0 0;
    .filter-popup__title {
      display: unset;

      p {
        font-size: 18px;
        line-height: 22px;
      }

    }

  }

}

.cart-popup__content {
  padding: 30px 20px;
  overflow-y: auto;
  overflow-x: hidden;
  @media (max-width: 767px) {
    padding: 20px;
  }
}

.cart-popup__list {
  display: flex;
  flex-flow: column;
  margin-top: 20px;
}

.cart-popup__item {
  display: flex;
  align-items: center;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid #F0F0F0;
  margin-top: 20px;

  &:nth-child(1) {
    margin-top: 0;
  }

  @media (max-width: 767px) {
    padding: 12px;
  }
}

.cart-popup__item-img {
  width: 94px;
  height: 94px;

  img {
    width: 100%;
  }

  @media (max-width: 767px) {
    width: 84px;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;

  }
}

.cart-popup__item-group {
  margin-left: 16px;
  display: flex;
  flex-flow: column;
  max-width: 236px;
  width: 100%;

}

.cart-popup__item-text {
  display: flex;
  flex-flow: column;
}

.cart-popup__item-name {

  font-weight: 600;
  font-size: 16px;
  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.cart-popup__item-info {
  font-size: 14px;
  margin-top: 8px;

  @media (max-width: 767px) {
    font-size: 12px;
  }
}

.cart-popup__item-cost {
  display: flex;
  align-items: center;
  margin-top: 12px;
  color: $orange;

  font-weight: 600;
  font-size: 16px;
  width: 100%;
}

.cart-popup__item-cost-final {
  margin-left: auto;
}

.cart-popup__btns-group {
  margin-top: auto;
}

.cart-popup__btns-main-cost {

  font-weight: 600;
  color: $orange;
  font-size: 20px;
  @media (max-width: 767px) {
    font-size: 18px;
  }
}

//<!-- /Popup cart -->


//<!-- Popup added to cart -->

.added-to-car-popup {
  position: fixed;
  width: 245px;
  border-radius: 58px;
  top: 80px;
  right: 10%;
  font-family: Inter-Regular, sans-serif;
  font-size: 14px;
  transition: 1s all ease-in-out;

  .popup__content {
    justify-content: center;
    align-items: center;
  }

  &.active {
    z-index: 99;
  }

  @media (max-width: 767px) {
    top: 120px;
    background: $orange;
    right: 50%;
    transform: translateX(50%);
    color: #FFFFFF;
    font-family: Inter-Regular, sans-serif;
    height: 42px;
  }
}

//<!-- /Popup added to cart -->

//<!-- Blur -->
.background-blur {
  background: rgba(25, 25, 25, 0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(0px);
  opacity: 0;
  visibility: hidden;
  z-index: 25;

  &.active {
    backdrop-filter: blur(20px);
    opacity: 1;
    visibility: visible;
  }
}

//<!-- /Blur -->