@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "variables";
@import "fonts";
@import "header";

.block {
}

.block__content {
  width: 1290px;
  margin: 0 auto;
}

.standalone-menu {
  margin: 30px 0;
}

.standalone-menu__list {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.standalone-menu__list-item {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 135px;
  height: 104px;

  background: $white;
  border: 1px solid $line-gray;
  border-radius: 12px;
  font-family: SF-Pro-Display-Regular, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: $black;

  cursor: pointer;

  &:hover {
    background: $light-primary;
  }

  p {
    margin-top: 8px;
  }
}

.standalone-menu__list-item-text_special {
  color: $red;
}

.combo-block__list {
  display: flex;
  justify-content: space-between;
}

.combo-block__list-item {
  //width: calc((100% - 90px) / 4);
  display: flex;
  width: 300px;
  height: 343px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  background: $orange;
  border-radius: 12px;

  &:nth-of-type(2n) {
    background: $red;
  }
}

.combo-block__list-item-img-wrapper {
  position: absolute;
  margin-top: 72px;
}

.combo-block__list-item-img-wrapper_out {
  width: 460px;
  height: 270px;
  top: -30%;
  left: 50%;
  transform: translateX(-50%);
}

.combo-block__list-item-text {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: $white;

  align-self: flex-end;
}

.check-address-block {
  margin: 30px 0;
}

.check-address-form {
  display: flex;
  align-items: center;
  padding: 16px 32px;
  background: $white;
}

.check-address-form__text {
  font-family: SF-Pro-Display-Regular, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;

  color: $black;
}

.check-address-form__input-wrapper {
  margin-left: 32px;
  display: flex;
  height: 48px;
  width: 65%;
  padding: 14px 12px;
  border: 1px solid $line-gray;
  border-radius: 6px;
}

.check-address-form__input {
  margin-left: 8px;
  font-family: SF-Pro-Display-Regular, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $gray-text;
  width: 100%;
}

.check-address-form__submit {
  margin-left: 20px;
}

.catalog {
  margin-bottom: 46px;
}

.catalog__top {
  display: flex;
  justify-content: space-between;
}

.catalog__title {
  font-size: 40px;
  line-height: 48px;
}

.catalog__filters {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 126px;
  height: 40px;

  background: $white;
  border: 1px solid $line-gray;
  border-radius: 6px;

  font-family: SF-Pro-Display-Regular, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: $black;

  svg {
    margin-right: 8px;
  }

  @include orange-border-hover
}

.catalog__list {
  margin-top: 32px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  column-gap: 30px;
  row-gap: 30px;
}

.item-card {
  display: flex;
  flex-flow: column;
  position: relative;
  background: $white;
  border: 1px solid $line-gray;
  border-radius: 12px;
}

.catalog__item-card {
  width: 300px;
  height: 480px;
  cursor: pointer;
  font-family: SF-Pro-Display-Regular, sans-serif;
  color: $black;
  overflow: hidden;
  @include orange-border-hover
}

.item-card__tag {
  position: absolute;
  top: 20px;
  left: 0;
  width: auto;
  height: 32px;
  padding: 7px 16px;
  background: $red;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;

  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  color: $white
}

.item-card__img-wrapper {
  width: 100%;
}

.item-card__description {
  margin-top: 16px;
  padding: 0 20px;

  display: flex;
  flex-flow: wrap;
  align-items: center;
}

.item-card__title {
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.item-card__composition {
  margin-top: 12px;
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  max-height: 44px;

  overflow: hidden;
  text-overflow: ellipsis;
}

.item-card__btn {
  margin-top: 16px;
  width: 131px;
}

.item-card__price {
  margin-top: 16px;
  margin-left: auto;

  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: $orange;
}

.about-delivery {
  margin: 60px 0;

  .block__content {
    max-width: 850px;
    width: 100%;
  }
}

.about-delivery__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}

.about-delivery__text {
  margin-top: 16px;
  font-family: SF-Pro-Display-Regular, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.about-delivery__text_subtitle{
  display: inline-block;
  width: 100%;
  font-weight: bold;
}

.about-delivery__show-more-btn {
  margin-top: 16px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  color: $orange
}

//@import "slider";
@import "footer";
@import "popups";

//Special classes
.dn {
  display: none;
}
