@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "variables";
@import "fonts";
@import "header";

.block {
  padding: 0 20px;
}

.block__content {
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
  @media (max-width: 767px) {
    max-width: 350px;


  }

}

.standalone-menu {
  margin: 30px 0;
  @media (max-width: 767px) {
    margin: 20px 0;

  }
}

.standalone-menu__list {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  @media (max-width: 1023px) {
    justify-content: center;

  }
  @media (max-width: 767px) {
    flex-flow: nowrap;
    justify-content: flex-start;
    overflow-x: scroll;


  }
}

.standalone-menu__list-item {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 135px;
  height: 104px;
  background: $white;
  border: 1px solid $line-gray;
  border-radius: 12px;
  font-family: SF-Pro-Display-Regular, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: $black;
  cursor: pointer;

  &:hover {
    background: $light-primary;
  }

  p {
    margin-top: 8px;
  }

  @media (max-width: 1023px) {
    margin: 0 3px 3px 0;


  }
  @media (max-width: 767px) {
    flex-flow: row;
    height: 40px;
    margin: 0 12px 0 0;
    padding: 0 12px;
    svg {
      height: 24px;
    }
    p {
      margin-top: 0;
      margin-left: 8px;
      font-size: 14px;
    }
  }
}

.standalone-menu__list-item-text_special {
  color: $red;


}

.combo-block {
  .block__content {
    @media (max-width: 767px) {
      overflow-x: scroll;

    }
  }
}

.combo-block__list {
  display: flex;
  justify-content: space-between;
  @media (max-width: 767px) {
    display: inline-flex;


  }
}

.combo-block__list-item {
  //width: calc((100% - 90px) / 4);
  display: flex;
  width: 300px;
  height: 343px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin: 0 5px;

  background: $orange;
  border-radius: 12px;

  &:nth-of-type(2n) {
    background: $red;
  }

  @media (max-width: 767px) {
    width: 280px;
    height: 320px;

  }
}

.combo-block__list-item-img-wrapper {
  position: absolute;
  margin-top: 72px;
}

.combo-block__list-item-img-wrapper_out {
  width: 460px;
  height: 270px;
  top: -30%;
  left: 50%;
  transform: translateX(-50%);
}

.combo-block__list-item-text {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: $white;

  align-self: flex-end;
}

.check-address-block {
  margin: 30px 0;
}

.check-address-form {
  display: flex;
  align-items: center;
  padding: 16px 32px;
  background: $white;
  position: relative;
  @media (max-width: 767px) {
    flex-flow: column;
    padding: 24px 20px 20px 20px;


  }
}

.check-address-form__text {
  font-family: SF-Pro-Display-Regular, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;

  color: $black;
}

.check-address-form__input-wrapper {
  margin-left: 32px;
  display: flex;
  height: 48px;
  width: 65%;
  padding: 14px 12px;
  border: 1px solid $line-gray;
  border-radius: 6px;
  @media (max-width: 767px) {
    margin-left: 0;
    width: 100%;
    margin-top: 16px;
    height: 44px;
    align-items: center;


  }
}

.check-address-form__input {
  margin-left: 8px;
  font-family: SF-Pro-Display-Regular, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $gray-text;
  width: 100%;
}

.check-address-form__submit {
  margin-left: 20px;

  svg {
    display: none;
  }

  @media (max-width: 767px) {
    width: 44px;
    height: 44px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    margin-left: 0;
    p {
      display: none;
    }
    svg {
      display: flex;
    }


  }
}

.catalog {
  margin-bottom: 46px;
  @media (max-width: 767px) {
    margin-bottom: 32px;

  }
}

.catalog__top {
  display: flex;
  justify-content: space-between;
}

.catalog__title {
  font-size: 40px;
  line-height: 48px;
  @media (max-width: 767px) {
    font-size: 28px;
    line-height: 36px;

  }
}

.catalog__filters {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 126px;
  height: 40px;

  background: $white;
  border: 1px solid $line-gray;
  border-radius: 6px;

  font-family: SF-Pro-Display-Regular, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: $black;

  svg {
    margin-right: 8px;
  }

  @include orange-border-hover
}

.catalog__list {
  margin-top: 32px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  column-gap: 30px;
  row-gap: 30px;
  @media (max-width: 1023px) {
    justify-content: space-around;

  }
  @media (max-width: 767px) {
    margin-top: 20px;
    column-gap: unset;
    row-gap: 12px;


  }
}

.item-card {
  display: flex;
  flex-flow: column;
  position: relative;
  background: $white;
  border: 1px solid $line-gray;
  border-radius: 12px;
  @media (max-width: 767px) {
    flex-flow: row;
    align-items: center;

  }
}

.catalog__item-card {
  width: 300px;
  height: 480px;
  cursor: pointer;
  font-family: SF-Pro-Display-Regular, sans-serif;
  color: $black;
  overflow: hidden;
  @include orange-border-hover;
  @media (max-width: 767px) {
    width: 100%;
    height: unset;
    padding: 10px 12px;


  }
}

.item-card__tag {
  position: absolute;
  top: 20px;
  left: 0;
  width: auto;
  height: 32px;
  padding: 7px 16px;
  background: $red;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;

  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  color: $white;
  @media (max-width: 767px) {
    top: 8px;
    width: 44px;
    height: 22px;
    font-size: 12px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;


  }
}

.item-card__img-wrapper {
  width: 100%;
  @media (max-width: 767px) {
    width: 100px;
    height: 100px;
    img {
      width: 100px;
    }
  }
}

.item-card__description {
  margin-top: 16px;
  padding: 0 20px;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  @media (max-width: 767px) {
    margin-top: 0;
    padding: 0;
    margin-left: 12px;
    max-width: 214px;
    width: 100%;


  }
}

.item-card__title {
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  @media (max-width: 767px) {
    font-size: 14px;


  }
}

.item-card__composition {
  margin-top: 12px;
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  max-height: 44px;

  overflow: hidden;
  text-overflow: ellipsis;
  @media (max-width: 767px) {
    font-size: 12px;
    margin-top: 8px;
    line-height: 16px;
    max-height: unset;


  }
}

.item-card__btn {
  margin-top: 16px;
  width: 131px;
  @media (max-width: 767px) {
    display: none;

  }
}

.item-card__price-group {
  margin: 16px 0 0 auto;
  display: flex;
  align-items: center;

  @media (max-width: 767px) {
    margin: 10px 0 0;
    display: flex;
    align-items: center;

  }
}

.item-card__price {

  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: $orange;
  @media (max-width: 767px) {
    font-size: 14px;
    padding: 7px 16px;
    background: #FFEEE2;
    border-radius: 6px;


  }
}

.item-card__last-price {
  color: #A5A5A5;
  font-size: 14px;
  text-decoration-line: line-through;
  display: none;
  margin-left: 12px;
  @media (max-width: 767px) {
    display: unset;

  }


}

.about-delivery {
  margin: 60px 0;

  .block__content {
    max-width: 850px;
    width: 100%;

    @media (max-width: 767px) {
      max-width: 350px;

    }
  }

  @media (max-width: 767px) {
    margin: 30px 0;


  }
}

.about-delivery__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  @media (max-width: 767px) {
    font-size: 18px;
    line-height: 22px;


  }
}

.about-delivery__text {
  margin-top: 16px;
  font-family: SF-Pro-Display-Regular, sans-serif;
  font-size: 16px;
  line-height: 22px;
  max-height: 270px;
  overflow: hidden;
  position: relative;

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    background: linear-gradient(180deg, transparent, #f9f9f9);


  }

  @media (max-width: 767px) {
    margin-top: 7px;
    font-size: 14px;
    line-height: 20px;
    max-height: 100px;


  }

}

.about-delivery__text_subtitle {
  display: inline-block;
  width: 100%;
  font-weight: bold;
}

.about-delivery__show-more-btn {
  margin-top: 16px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  color: $orange;
  @media (max-width: 767px) {
    font-size: 14px;
    line-height: normal;

  }
}

//<!-- Popup current product Block -->
.current-popup {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  color: #191919;
  font-family: Inter-Regular, sans-serif;
  transform: scale(0);
  z-index: 105;

  .block__content {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

  }

  &.active {
    transform: scale(1);
  }

  @media (max-width: 767px) {
    .item-card__tag {
      top: 18px;
    }

  }
}


.background-blur {
  background: rgba(25, 25, 25, 0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(20px);
  display: none;

  &.active {
    display: block;

  }

}

@keyframes animation-fade-in {
  0% {
    backdrop-filter: blur(0px);
  }
  1% {
    display: block;
  }
  100% {
    backdrop-filter: blur(20px);
  }
}

.current-popup__table {
  max-width: 1070px;
  max-height: 680px;
  width: 100%;
  background: #ffffff;
  border-radius: 24px;
  padding: 32px 20px 20px 60px;
  display: flex;
  position: fixed;
  margin-right: 62px;
  margin-top: 50px;
  @media (max-width: 1175px) {
    max-width: 930px;

  }
  @media (max-width: 1023px) {
    padding: 10px;
    max-width: 700px;

  }
  @media (max-width: 767px) {
    flex-flow: column;
    max-height: unset;
    align-items: center;
    margin-right: 0;
    max-width: 530px;
    border-radius: 16px 16px 0 0;
  }
}

.current-popup__cross_mobile {
  display: none;
  width: 134px;
  height: 5px;
  background: #F5F5F5;
  opacity: 0.6;
  border-radius: 100px;
  position: absolute;
  top: -17px;
  right: 50%;
  transform: translateX(50%);
  @media (max-width: 767px) {
    display: unset;
  }
}

.current-popup__cross_pc {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  right: -62px;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.current-popup__column {
  display: flex;
  flex-flow: column;
  justify-content: center;

}

.current-popup__img {
  max-width: 450px;
  width: 100%;

  img {
    width: 100%;
  }

  @media (max-width: 767px) {
    width: 260px;
    height: 260px;
  }
}

.current-popup__column_text {
  margin-left: 60px;
  max-width: 480px;
  width: 100%;
  @media (max-width: 1023px) {
    margin-left: 10px;
    max-width: 420px;
  }
  @media (max-width: 767px) {
    margin-left: 0;
    max-width: 350px;


  }
}

.current-popup__title {
  display: flex;
  align-items: center;
}

.current-popup__title-img {
  width: 24px;
  height: 24px;

}

.current-popup__title-info {
  width: 24px;
  height: 24px;
  margin-left: auto;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  @media (max-width: 767px) {
    position: absolute;
    top: 25px;
    right: 20px;

  }

}

.current-popup__title-text {
  margin-left: 8px;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  @media (max-width: 767px) {
    font-size: 18px;

  }

}

.current-popup__btns {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  @media (max-width: 767px) {
    overflow-x: scroll;
  }


}

.current-popup__btn {
  font-family: Inter-Regular, sans-serif;
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 105px;
  width: 100%;
  position: relative;

  &:hover {
    .current-popup__btn-img {
      transform: scale(1.05);
      @media (max-width: 767px) {
        transform: scale(1)
      }
    }
  }
  &.disabled {
    .current-popup__btn-name {
      color: $gray-text;
    }
    .current-popup__btn-img {
      svg {
        path {
          fill: $gray-text;
        }
      }
    }
    .current-popup__status_cross {
      display: unset;
      z-index: 2;
    }
  }
  &.active {
    .current-popup__btn-img {
      border: 1px solid $orange;
    }
    .current-popup__status_apply {
      display: unset;
    }

  }
  .current-popup__status {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1;
  }
  .current-popup__status_cross {
    display: none;
  }
  .current-popup__status_apply {
    display: none;
  }

  @media (max-width: 1023px) {
    margin-right: 3px;
    &:last-child {
      margin-right: 0;
    }
  }
  @media (max-width: 767px) {
    max-width: 90px;
    margin-right: 12px;

  }

}

.current-popup__btn-img {
  width: 105px;
  height: 105px;
  border: 1px solid #F0F0F0;
  border-radius: 12px;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 767px) {
    width: 90px;
    height: 90px;
    svg {
      width: 32px;
    }

  }

}

.current-popup__btn-name {
  margin-top: 8px;
  font-size: 14px;
  line-height: 140%;
  @media (max-width: 767px) {

    font-size: 12px;
    line-height: 16px;
  }

}

.current-popup__switch-row {
  display: flex;
  width: 100%;
  margin-top: 24px;
  height: 48px;
  border: 1px solid #F0F0F0;
  border-radius: 6px;
  position: relative;

}

.switch__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  background: $orange;
  height: 100%;
  border-radius: 6px;


}

.switch {
  position: relative;
}

.current-popup__switch {
  width: 50%;
  font-family: "SF-Pro-Display-Medium", sans-serif;
  font-size: 16px;
  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 16px;

  }

}

.switch__btn {
  position: relative;

  &.active {
    color: $white;
  }
}

.current-popup__switch-row_trio {
  margin-top: 16px;

  .current-popup__switch {
    width: 33.333%;
  }

  @media (max-width: 767px) {
    margin-top: 12px;

  }

}

.current-popup__another-title {
  font-size: 16px;
  font-family: Inter-SemiBold, sans-serif;
  margin-top: 24px;
}

.current-popup__btn-cost {
  margin-top: 2px;
  font-size: 14px;
  color: #FF7010;
  font-family: Inter-SemiBold, sans-serif;
}

.current-popup__last-row {
  display: flex;
  align-items: center;
  margin-top: 24px;
  @media (max-width: 767px) {
    margin-top: 20px;
    padding-top: 12px;
    border-top: 1px solid $line-gray;


  }

}

.current-popup__result {
  font-family: Inter-SemiBold, sans-serif;
  color: #FF7010;
  font-size: 20px;

  span {
    font-size: 14px;
    color: #A5A5A5;
    font-family: Inter-Regular, sans-serif;
    margin-left: 12px;

  }

  @media (max-width: 767px) {
    display: flex;
    flex-flow: column;
    font-size: 18px;
    line-height: 22px;
    span {
      margin-left: 0;

    }
  ;


  }
}

.current-popup__result-btn {
  margin-left: auto;
}

//<!-- /Popup current product Block -->

//<!-- Popup filter Block -->
.filter-popup {
  width: 100%;
  height: 100%;
  color: #191919;
  font-family: Inter-Regular, sans-serif;
  transform: translateX(100%);
  transition: ease-in-out all 0.5s;
  position: fixed;
  top: 0;
  right: 0;
  background: #FFFFFF;
  max-width: 520px;
  max-height: 100vh;
  z-index: 10;

  &.active {
    transform: translateX(0);
  }

  @media (max-width: 767px) {
    top: 40px;
    max-width: 530px;
    border-radius: 16px 16px 0 0;

  }
}


.filter-popup__table-content {
  padding: 15px 20px;
  display: flex;
  flex-flow: column;
}

.filter-popup__title {
  display: flex;
  align-items: center;

  p {
    font-size: 30px;
    font-family: Inter-SemiBold, sans-serif;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.filter-popup__title-cross {
  width: 24px;
  height: 24px;
  margin-left: auto;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.filter-popup__block {
  margin-top: 15px;
  display: flex;
  flex-flow: column;

}

.filter-popup__block-title {
  font-size: 16px;
  color: #A5A5A5;
  font-family: SF-Pro-Display-Regular, sans-serif;
  @media (max-width: 767px) {
    font-size: 14px;

  }

}

.filter-popup__block-row {
  display: flex;
  flex-flow: wrap;
  max-width: 440px;
  width: 100%;
}

.filter-popup__block-item {
  font-size: 14px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  border-radius: 6px;
  border: 1px solid #F0F0F0;
  margin: 8px 8px 0 0;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }

  p {
    transition: ease-in-out all 0.1s;
  }

  @media (max-width: 767px) {
    font-size: 12px;
    padding: 0 16px;


  }

  &.active {
    background: $orange;
    border: 1px solid $orange;

    p {
      color: $white;
    }

  }
}

.filter-popup__btns-group {
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #F0F0F0;

}

.filter-popup__button_orange {
  background: #FFFFFF;
  border: 1px solid #FF7010;
  color: #FF7010;
  margin-right: 20px;

}

.filter-popup__button {
  width: 48%;
  @media (max-width: 767px) {
    font-size: 14px;
    height: 44px;

  }
}

//<!-- /Popup filter Block -->


//@import "slider";
@import "footer";
@import "popups";

//Special classes
.dn {
  display: none;
}
