@font-face {
  font-family: "Inter-SemiBold";
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff") format("woff"), url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter-Regular";
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova-Bold";
  font-display: swap;
  src: url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova-Regular";
  font-display: swap;
  src: url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF-Pro-Display-Medium";
  font-display: swap;
  src: url("../fonts/SF-Pro-Display-Medium.woff") format("woff"), url("../fonts/SF-Pro-Display-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF-Pro-Display-Regular";
  font-display: swap;
  src: url("../fonts/SF-Pro-Display-Regular.woff") format("woff"), url("../fonts/SF-Pro-Display-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF-Pro-Display-Semibold";
  font-display: swap;
  src: url("../fonts/SF-Pro-Display-Semibold.woff") format("woff"), url("../fonts/SF-Pro-Display-Semibold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF-Pro-Text-Bold";
  font-display: swap;
  src: url("../fonts/SF-Pro-Text-Bold.woff") format("woff"), url("../fonts/SF-Pro-Text-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
  transition: all ease-in-out 0.3s;
}

html, body {
  height: 100%;
  background: #ffffff;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  background: transparent;
}

img {
  width: 100%;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  background: #F9F9F9;
}

.header {
  width: 100%;
}

.header__menu * {
  font-family: Inter-Regular, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #191919;
}

.menu__row {
  display: flex;
  align-items: center;
  padding: 10px calc((100% - 1290px) / 2);
  border-bottom: 1px solid #F0F0F0;
  background: #ffffff;
}

.menu__row_top {
  height: 40px;
}

.menu__row_bottom {
  height: 64px;
}

.menu__location {
  display: flex;
  align-items: center;
  width: 100px;
  height: 20px;
}

.menu__location-select {
  width: 72px;
}

.menu__check-address {
  margin: 0 40px;
  background: transparent;
}

.menu__average-delivery-time span {
  font-weight: bold;
}

.menu__working-time {
  margin-left: auto;
}

.menu__login {
  display: flex;
  align-items: center;
  margin-left: 41px;
}
.menu__login svg {
  margin-right: 10px;
}

.logo {
  display: flex;
  align-items: center;
}
.logo svg {
  margin-right: 12px;
}

.standard-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 48px;
  background: #FF7010;
  border-radius: 6px;
  font-family: SF-Pro-Display-Regular, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}
.standard-btn:hover {
  opacity: 0.8;
}

.standard-title {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #191919;
}

.menu__cart {
  width: auto;
  margin-left: auto;
  padding: 8px 16px;
  height: 40px;
}
.menu__cart svg {
  margin-right: 8px;
}

.block__content {
  width: 1290px;
  margin: 0 auto;
}

.standalone-menu {
  margin: 30px 0;
}

.standalone-menu__list {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.standalone-menu__list-item {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 135px;
  height: 104px;
  background: #ffffff;
  border: 1px solid #F0F0F0;
  border-radius: 12px;
  font-family: SF-Pro-Display-Regular, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #191919;
  cursor: pointer;
}
.standalone-menu__list-item:hover {
  background: #FFEEE2;
}
.standalone-menu__list-item p {
  margin-top: 8px;
}

.standalone-menu__list-item-text_special {
  color: #E23535;
}

.combo-block__list {
  display: flex;
  justify-content: space-between;
}

.combo-block__list-item {
  display: flex;
  width: 300px;
  height: 343px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background: #FF7010;
  border-radius: 12px;
}
.combo-block__list-item:nth-of-type(2n) {
  background: #E23535;
}

.combo-block__list-item-img-wrapper {
  position: absolute;
  margin-top: 72px;
}

.combo-block__list-item-img-wrapper_out {
  width: 460px;
  height: 270px;
  top: -30%;
  left: 50%;
  transform: translateX(-50%);
}

.combo-block__list-item-text {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  align-self: flex-end;
}

.check-address-block {
  margin: 30px 0;
}

.check-address-form {
  display: flex;
  align-items: center;
  padding: 16px 32px;
  background: #ffffff;
}

.check-address-form__text {
  font-family: SF-Pro-Display-Regular, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #191919;
}

.check-address-form__input-wrapper {
  margin-left: 32px;
  display: flex;
  height: 48px;
  width: 65%;
  padding: 14px 12px;
  border: 1px solid #F0F0F0;
  border-radius: 6px;
}

.check-address-form__input {
  margin-left: 8px;
  font-family: SF-Pro-Display-Regular, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #A5A5A5;
  width: 100%;
}

.check-address-form__submit {
  margin-left: 20px;
}

.catalog {
  margin-bottom: 46px;
}

.catalog__top {
  display: flex;
  justify-content: space-between;
}

.catalog__title {
  font-size: 40px;
  line-height: 48px;
}

.catalog__filters {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 126px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #F0F0F0;
  border-radius: 6px;
  font-family: SF-Pro-Display-Regular, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #191919;
}
.catalog__filters svg {
  margin-right: 8px;
}
.catalog__filters:hover {
  border-color: #FF7010;
}

.catalog__list {
  margin-top: 32px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  column-gap: 30px;
  row-gap: 30px;
}

.item-card {
  display: flex;
  flex-flow: column;
  position: relative;
  background: #ffffff;
  border: 1px solid #F0F0F0;
  border-radius: 12px;
}

.catalog__item-card {
  width: 300px;
  height: 480px;
  cursor: pointer;
  font-family: SF-Pro-Display-Regular, sans-serif;
  color: #191919;
  overflow: hidden;
}
.catalog__item-card:hover {
  border-color: #FF7010;
}

.item-card__tag {
  position: absolute;
  top: 20px;
  left: 0;
  width: auto;
  height: 32px;
  padding: 7px 16px;
  background: #E23535;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.item-card__img-wrapper {
  width: 100%;
}

.item-card__description {
  margin-top: 16px;
  padding: 0 20px;
  display: flex;
  flex-flow: wrap;
  align-items: center;
}

.item-card__title {
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.item-card__composition {
  margin-top: 12px;
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  max-height: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-card__btn {
  margin-top: 16px;
  width: 131px;
}

.item-card__price {
  margin-top: 16px;
  margin-left: auto;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #FF7010;
}

.about-delivery {
  margin: 60px 0;
}
.about-delivery .block__content {
  max-width: 850px;
  width: 100%;
}

.about-delivery__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}

.about-delivery__text {
  margin-top: 16px;
  font-family: SF-Pro-Display-Regular, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.about-delivery__text_subtitle {
  display: inline-block;
  width: 100%;
  font-weight: bold;
}

.about-delivery__show-more-btn {
  margin-top: 16px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FF7010;
}

.current-popup {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  color: #191919;
  font-family: Inter-Regular, sans-serif;
}
.current-popup .block__content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.background-blur {
  background: rgba(25, 25, 25, 0.4);
  backdrop-filter: blur(20px);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.current-popup__table {
  max-width: 1070px;
  max-height: 680px;
  width: 100%;
  background: #ffffff;
  border-radius: 24px;
  padding: 32px 20px 20px 60px;
  display: flex;
  position: fixed;
  z-index: 10;
  margin-right: 62px;
  margin-top: 50px;
}

.current-popup__cross {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  right: -62px;
}
.current-popup__cross:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.current-popup__column {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.current-popup__img {
  max-width: 450px;
  width: 100%;
}
.current-popup__img img {
  width: 100%;
}

.current-popup__column_text {
  margin-left: 60px;
  max-width: 480px;
  width: 100%;
}

.current-popup__title {
  display: flex;
  align-items: center;
}

.current-popup__title-img {
  width: 24px;
  height: 24px;
}

.current-popup__title-info {
  width: 24px;
  height: 24px;
  margin-left: auto;
}
.current-popup__title-info:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.current-popup__title-text {
  margin-left: 8px;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
}

.current-popup__btns {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.current-popup__btn {
  font-family: Inter-Regular, sans-serif;
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 105px;
  width: 100%;
}
.current-popup__btn:hover .current-popup__btn-img {
  transform: scale(1.05);
}

.current-popup__btn-img {
  width: 105px;
  height: 105px;
  border: 1px solid #F0F0F0;
  border-radius: 12px;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-popup__btn-name {
  margin-top: 8px;
  font-size: 14px;
  line-height: 140%;
}

.current-popup__switch-row {
  display: flex;
  width: 100%;
  margin-top: 24px;
  height: 48px;
  border: 1px solid #F0F0F0;
  border-radius: 6px;
}

.current-popup__switch {
  width: 50%;
  font-family: "SF-Pro-Display-Medium", sans-serif;
  font-size: 16px;
}

.current-popup__switch-row_trio {
  margin-top: 16px;
}
.current-popup__switch-row_trio .current-popup__switch {
  width: 33.333%;
}

.current-popup__another-title {
  font-size: 16px;
  font-family: Inter-SemiBold, sans-serif;
  margin-top: 24px;
}

.current-popup__btn-cost {
  margin-top: 2px;
  font-size: 14px;
  color: #FF7010;
  font-family: Inter-SemiBold, sans-serif;
}

.current-popup__last-row {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.current-popup__result {
  font-family: Inter-SemiBold, sans-serif;
  color: #FF7010;
  font-size: 20px;
}
.current-popup__result span {
  font-size: 14px;
  color: #A5A5A5;
  font-family: Inter-Regular, sans-serif;
  margin-left: 12px;
}

.current-popup__result-btn {
  margin-left: auto;
}

.filter-popup {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  color: #191919;
  font-family: Inter-Regular, sans-serif;
}
.filter-popup .block__content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.filter-popup__table {
  position: fixed;
  right: 0;
  z-index: 10;
  background: #FFFFFF;
  max-width: 520px;
  width: 100%;
  height: 100vh;
  max-height: 945px;
}

.filter-popup__table-content {
  padding: 15px 20px;
  display: flex;
  flex-flow: column;
}

.filter-popup__title {
  display: flex;
  align-items: center;
}
.filter-popup__title p {
  font-size: 30px;
  font-family: Inter-SemiBold, sans-serif;
}

.filter-popup__title-cross {
  width: 24px;
  height: 24px;
  margin-left: auto;
}
.filter-popup__title-cross:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.filter-popup__block {
  margin-top: 15px;
  display: flex;
  flex-flow: column;
}

.filter-popup__block-title {
  font-size: 16px;
  color: #A5A5A5;
  font-family: SF-Pro-Display-Regular, sans-serif;
}

.filter-popup__block-row {
  display: flex;
  flex-flow: wrap;
  max-width: 440px;
  width: 100%;
}

.filter-popup__block-item {
  font-size: 14px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  border-radius: 6px;
  border: 1px solid #F0F0F0;
  margin: 8px 8px 0 0;
  cursor: pointer;
}
.filter-popup__block-item:hover {
  transform: scale(1.05);
}

.filter-popup__btns-group {
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #F0F0F0;
}

.filter-popup__button_orange {
  background: #FFFFFF;
  border: 1px solid #FF7010;
  color: #FF7010;
  margin-right: 20px;
}

.filter-popup__button {
  width: 48%;
}

.footer {
  width: 100%;
  background: #ffffff;
  padding: 32px calc((100% - 1290px) / 2);
}
.footer .block__content {
  display: flex;
  justify-content: space-between;
}

.footer__copyright, .footer__link {
  font-family: SF-Pro-Display-Regular, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #191919;
  text-decoration: none;
}

.footer__column {
  display: flex;
  flex-flow: column;
}

.footer__column_logo-block {
  justify-content: space-between;
}

.footer__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.footer__link-list {
  margin-top: 22px;
  display: flex;
  flex-flow: column;
  row-gap: 20px;
}

.footer__link {
  display: inline-flex;
  align-items: center;
}
.footer__link:hover {
  color: #FF7010;
}
.footer__link svg {
  margin-right: 12px;
}

.footer__social-links {
  display: flex;
}
.footer__social-links .footer__link {
  margin-right: 24px;
}

.dn {
  display: none;
}

/*# sourceMappingURL=style.css.map */
