@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "variables";
@import "fonts";
@import "header";

.block {
  padding: 0 20px;
  position: relative;
}

.block_first-on-page {
  margin-top: 130px
}

.block__content {
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 767px) {
    max-width: 350px;
  }
}

.block__anchor {
  position: absolute;
  top: -90px;

  @media (max-width: 767px) {
    top: -110px;
  }
}

.block__anchor_promo {
  top: -130px;
}

.standalone-menu {
  margin-bottom: 30px;
  @media (max-width: 767px) {
    margin-bottom: 20px;
    padding: 0 0 0 20px;
    .block__content {
      max-width: 390px;
    }
  }
}

.standalone-menu__list {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 2.3%;

  @media (max-width: 767px) {
    display: flex;
    column-gap: unset;
    flex-flow: nowrap;
    justify-content: flex-start;
    overflow-x: scroll;
  }
}

.standalone-menu__list-item {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 100%;
  height: 104px;
  background: $white;
  border: 1px solid $line-gray;
  border-radius: 12px;

  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: $black;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background: $light-primary;
  }

  p {
    margin-top: 8px;
  }

  @media (max-width: 1023px) {
    margin: 0 3px 3px 0;
  }
  @media (max-width: 767px) {
    flex-flow: row;
    height: 40px;
    margin: 0 12px 0 0;
    padding: 0 12px;
    max-width: 114px;
    width: auto;
    svg {
      width: 24px;
      min-width: 24px;
      height: 24px;
    }
    p {
      margin-top: 0;
      margin-left: 8px;
      font-size: 14px;
    }
  }
}

.standalone-menu__list-item-text_special {
  color: $red;
}

.combo-block {
  @media (max-width: 767px) {
    padding: 0 0 0 20px;

    .block__content {
      max-width: 390px;
      overflow-x: scroll;
    }
  }
}

.combo-block__list {
  display: flex;
  @media (max-width: 767px) {
    display: inline-flex;
  }
}

.combo-block__list-item {
  //width: calc((100% - 90px) / 4);
  display: flex;
  max-width: 300px;
  width: 100%;
  padding: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-right: 2.3%;

  background: $orange;
  border-radius: 12px;

  &:nth-of-type(2n) {
    background: $red;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &:before {
    content: '';
    display: block;
    padding-top: 114%;
  }

  @media (max-width: 767px) {
    width: 280px;
    height: 320px;
  }
}

.combo-block__list-item-img-wrapper {
  position: absolute;
  margin-top: 72px;

  @media (max-width: 1175px) {
    opacity: 0.8;
  }

  @media (max-width: 767px) {
    opacity: unset;
  }
}

.combo-block__list-item-img-wrapper_out {
  width: 460px;
  height: 270px;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.combo-block__list-item-text {
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: $white;

  align-self: flex-end;
}

.check-address-block {
  margin: 30px 0;
}

.check-address-form {
  display: flex;
  align-items: center;
  padding: 16px 32px;
  background: $white;
  position: relative;
  border: 1px solid #F0F0F0;
  border-radius: 8px;

  @media (max-width: 1310px) {
    justify-content: space-between;
  }

  @media (max-width: 767px) {
    flex-flow: column;
    padding: 24px 20px 20px 20px;
    border-radius: 12px;
  }
}

.check-address-form__text {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.3;

  color: $black;

  @media (max-width: 1310px) {
    font-size: 17px;
  }

  @media (max-width: 767px) {
    font-weight: 600;
  }
}

.check-address-form__input-wrapper {
  margin-left: 2.4%;
  display: flex;
  height: 48px;
  width: 63.5%;
  padding: 14px 12px;
  border: 1px solid $line-gray;
  border-radius: 6px;

  @media (max-width: 1310px) {
    width: 62%;
  }

  @media (max-width: 767px) {
    margin-left: 0;
    width: 100%;
    margin-top: 16px;
    height: 44px;
    align-items: center;
  }
}

.check-address-form__input {
  margin-left: 8px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $gray-text;
  width: 100%;
}

.check-address-form__submit {
  margin-left: 1.6%;

  svg {
    display: none;
  }

  @media (max-width: 767px) {
    width: 44px;
    height: 44px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    margin-left: 0;
    p {
      display: none;
    }
    svg {
      display: flex;
    }


  }
}

.catalog {
  margin-bottom: 46px;
  @media (max-width: 767px) {
    margin-bottom: 32px;

  }
}

.catalog__top {
  display: flex;
  justify-content: space-between;
}

.catalog__title {
  font-size: 40px;
  line-height: 48px;
  @media (max-width: 767px) {
    font-size: 28px;
    line-height: 36px;
  }
}

.catalog__filters {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 126px;
  height: 40px;

  background: $white;
  border: 1px solid $line-gray;
  border-radius: 6px;

  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: $black;

  svg {
    margin-right: 8px;
  }

  @include orange-border-hover
}

.catalog__list {
  margin-top: 32px;
  display: grid;
  column-gap: 30px;
  row-gap: 30px;
  grid-template-columns: repeat(4, 1fr);


  @media (max-width: 1023px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 767px) {
    margin-top: 20px;
    column-gap: unset;
    display: flex;
    flex-flow: column;
    row-gap: 0;
  }
}

.item-card {
  display: flex;
  flex-flow: column;
  position: relative;
  background: $white;
  border: 1px solid $line-gray;
  border-radius: 12px;
  @media (max-width: 767px) {
    flex-flow: row;
    align-items: center;
  }
}

.catalog__item-card {
  width: 100%;
  cursor: pointer;

  color: $black;
  overflow: hidden;
  padding-bottom: 20px;

  @include orange-border-hover;

  @media (max-width: 767px) {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 12px;
  }
}

.item-card__tag {
  position: absolute;
  top: 20px;
  left: 0;
  width: auto;
  height: 32px;
  padding: 7px 16px;
  background: $red;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;


  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  color: $white;
  @media (max-width: 767px) {
    top: 8px;
    width: 44px;
    height: 22px;
    font-size: 12px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.item-card__img-wrapper {
  width: 100%;

  @media (max-width: 1175px) {
    margin-bottom: auto;
  }

  @media (max-width: 767px) {
    margin-bottom: unset;
    width: 100px;
    height: 100px;
    img {
      width: 100px;
    }
  }
}

.item-card__description {
  margin-top: 16px;
  padding: 0 20px;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  @media (max-width: 767px) {
    margin-top: 0;
    padding: 0;
    margin-left: 12px;
    max-width: 214px;
    width: 100%;
  }
}

.item-card__title {
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.item-card__composition {
  margin-top: 12px;
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  max-height: 44px;

  overflow: hidden;
  text-overflow: ellipsis;
  @media (max-width: 767px) {
    font-size: 12px;
    margin-top: 8px;
    line-height: 16px;
    max-height: unset;
  }
}

.item-card__composition_nw{
  white-space: nowrap;
}

.item-card__btn {
  margin-top: 16px;
  width: 131px;
  @media (max-width: 1175px) {
    width: 100%;
  }
  @media (max-width: 767px) {
    display: none;
  }
}

.item-card__price-group {
  margin: 16px 0 0 auto;
  display: flex;
  align-items: center;

  @media (max-width: 1175px) {
    justify-content: center;
    width: 100%;
  }

  @media (max-width: 767px) {
    margin: 10px 0 0;
    width: unset;
  }

  @media (max-width: 350px) {
    flex-flow: wrap;
    justify-content: flex-start;
    & > :nth-child(n):not(:first-child) {
      margin-top: 10px;
    }
  }
}

.item-card__price {

  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: $orange;
  @media (max-width: 767px) {
    font-size: 14px;
    padding: 7px 16px;
    background: rgba(239, 43, 81, 0.1);
    border-radius: 6px;


  }
}

.item-card__last-price {
  color: #A5A5A5;
  font-size: 14px;
  text-decoration-line: line-through;
  display: none;
  margin-left: 12px;
  @media (max-width: 767px) {
    display: unset;

  }


}

.about-delivery {
  margin: 60px 0;

  .block__content {
    max-width: 850px;
    width: 100%;

    @media (max-width: 767px) {
      max-width: 350px;
    }
  }

  @media (max-width: 767px) {
    margin: 30px 0;
  }
}

.about-delivery__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  @media (max-width: 767px) {
    font-size: 18px;
    line-height: 22px;
  }
}

.about-delivery__text {
  margin-top: 16px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 22px;
  height: 100%;
  max-height: 270px;
  overflow: hidden;
  position: relative;

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-image: -webkit-linear-gradient(top, $black 30%, transparent 100%);


  &.active {
    max-height: 1500px;
    background-image: -webkit-linear-gradient(top, $black 100%, transparent 100%);

  }

  @media (max-width: 767px) {
    margin-top: 7px;
    font-size: 14px;
    line-height: 20px;
    max-height: 100px;
  }

}

.about-delivery__text_subtitle {
  display: inline-block;
  width: 100%;
  font-weight: bold;
}

.about-delivery__show-more-btn {
  margin-top: 16px;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: $orange;

  &:hover {
    transform: scale(0.95);
  }

  @media (max-width: 767px) {
    font-size: 14px;
    line-height: normal;

  }

}

//<!--basket.html -->

.basket {
  margin: 202px 0 200px;

  .block__content {
    max-width: 380px;
    font-family: Inter, sans-serif;
  }
}

.order {
  text-align: center;
}

.order__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order__content-link {
  text-decoration: none;
  margin-top: 24px;
  width: 196px;
  @media(max-width: 767px) {
    font-size: 14px;
    width: 163px;
  }
}

.order__content-title {
  margin: 48px 0 16px 0;

}

.order__content-text {
  @media(max-width: 767px) {
    font-size: 14px;
    max-width: 350px;
    width: 100%;
  }
}


//<!-- /basket.html -->

//<!-- account.html -->

.account {
  position: relative;

  .block__content {
    max-width: 850px;
    @media(max-width: 767px) {
      margin: 0 auto;
      max-width: 350px;
    }
  }
}

.block__content_account {
  display: block;

  .choose-item-popup__switch-row {
    max-width: 360px;
    margin-top: 0;
  }

  &.active {
    overflow: hidden;
  }
}


.account__top {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 24px;

  @media(max-width: 767px) {
    display: none;
  }
}

.account__switch-row {
  width: 360px;
  background: #FFFFFF;
  border: 1px solid $line-gray;
  display: flex;

  .switch__btn {
    width: 50%;
  }
}

.account__top-title {
  font-size: 40px;
}


.order-list__item {
  background: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 12px;
  padding: 16px 20px 16px 20px;
  max-width: 850px;
  width: 100%;
  margin-bottom: 20px;

  &[data-processed] {
    .order-details__svg {
      background: #e23535;
    }
  }

  &[data-delivery] {
    .order-details__svg {
      background: #EF2B51;
    }
  }

  &[data-done] {
    .order-details__svg {
      background: #24D17E;
    }
  }

  &[data-archive] {
    .order-details__svg {
      background: #A5A5A5;
    }

    .order-details__pizza-list {

      filter: grayscale(1)
    }

    p {
      color: #A5A5A5;
    }

    .order-details__list-text {
      span {
        color: #191919;
      }
    }
  }

  @media(max-width: 767px) {
    max-width: 350px;
  }

}

.order-list__item-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @media(max-width: 767px) {
    position: relative;
  }
}


.order-products {
  border-top: 1px solid $line-gray;
  padding-top: 12px;
  margin-top: 12px;
  display: none;

  &.active {
    display: block;
  }

  @media (max-width: 767px) {
    display: block;
  }

}

.order-details__list_num {
  width: 30%;
  @media(max-width: 767px) {
    width: 54%;
  }
}

.order-details__list_sum {
  width: 21%;
  @media(max-width: 767px) {
    width: 37%;
  }
}

.order-details__list_status {
  width: 25%;
  @media(max-width: 767px) {
    width: 54%;
    margin-top: 12px;
  }
}

.order-details__list_pay {
  @media(max-width: 767px) {
    width: 37%;
    margin-top: 12px;
  }
}

.order-details__svg-button {
  margin-left: auto;

  &:hover {
    transform: scale(1.1);
  }

  &.active {
    transform: rotate(180deg);
  }

  @media(max-width: 767px) {
    display: none;
  }
}

.order-details__svg {
  width: 4px;
  height: 44px;
  margin-right: 16px;
  background: #e23535;
  border-radius: 2px;
  @media(max-width: 767px) {
    position: absolute;
    top: 0;
    left: 0;
    height: 70%;
  }

}


.order-details__list {
  @media(max-width: 767px) {
    padding-left: 12px;
  }
}

.order-details__list-title {

  font-size: 14px;
  color: #A5A5A5;
  padding-bottom: 5px;
  @media(max-width: 767px) {
    font-size: 12px;
  }
}

.order-details__list_address {
  margin-top: 15px;

  @media (max-width: 767px) {
    margin-top: 12px;
  }
}

.order-details__list-title_address {
  display: none;
  @media(max-width: 767px) {
    display: unset;
  }
}

.order-details__list-text {

  font-size: 16px;

  span {
    color: #A5A5A5;
  }

  @media(max-width: 767px) {
    font-size: 14px;
  }
}

.order-details__line {
  background: #F0F0F0;
  width: 810px;
  height: 1px;
  margin-top: 8px;
  @media(max-width: 767px) {
    display: none;
  }
}

.order-details__line_middle {
  @media (max-width: 767px) {
    bottom: 95px;


  }
}

.order-replay {
  color: #EF2B51;
  font-family: Inter, sans-serif;
  font-size: 16px;
  margin: 16px auto 0;
  width: 100%;

  &:hover {
    opacity: 0.8;
  }

  @media(max-width: 767px) {
    font-size: 14px;
    margin: 0;
  }
}

.order-details__wrapper-img {
  width: 40px;
  height: 40px;
  margin-left: -10px;
  overflow: hidden;
  border-radius: 50%;
}

.order-details__img {
  width: 100%;

}

.order-details__pizza-list {
  display: flex;
  margin-top: 12px;
  margin-left: auto;
  @media(max-width: 767px) {
    border-top: 1px solid $line-gray;
    margin: 12px 0 0;
    padding-top: 12px;
    padding-left: 10px;
    width: 100%;
  }
}

.pagination {
  display: flex;
  max-width: 304px;
  width: 100%;
  justify-content: space-between;
  margin: 5px 273px 60px 273px;
  @media(max-width: 767px) {
    margin: 24px auto;
  }
  @media (max-width: 350px) {
    margin: 24px 0;
  }
}

.pagination-arrow {
  background: #EF2B51;
  border-radius: 6px;
  width: 48px;
  height: 48px;

  &:hover {
    opacity: .4;
  }

  @media(max-width: 767px) {
    width: 44px;
    height: 44px;
  }
}

.pagination-number {
  font-family: Inter, sans-serif;
  font-size: 16px;
  border-radius: 6px;
  width: 48px;
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #F0F0F0;
  @media(max-width: 767px) {
    font-size: 14px;
    width: 44px;
    height: 44px;
  }
}

.products-list {
  display: flex;
  max-width: 810px;
  width: 100%;
  align-items: center;
  margin-bottom: 12px;
  @media(max-width: 767px) {
    display: none;
  }
}

.products-list__wrapper-img {
  width: 40px;
  height: 40px;
  margin-right: 18px;
}

.products-list__title {

  font-weight: 600;
  font-size: 16px;
  width: 37%;
  padding-right: 10px;
}

.products-list__size {

  font-size: 14px;
  width: 30%;
}

.products-list__quantity {
  background: rgba(239, 43, 81, 0.1);
  border-radius: 6px;
  color: #EF2B51;

  font-size: 16px;
  width: 99px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  @media(max-width: 767px) {
    font-size: 14px;
    width: 83px;
    height: 32px;
  }
}

.products-list__amount {
  color: #EF2B51;

  font-weight: 600;
  font-size: 16px;
  margin-left: auto;
}

//<!-- /account.html -->

//<!--Account - Settings -->
.account-data {
  width: 100%;
  @media (max-width: 767px) {
    display: flex;
    flex-flow: column;
  }
}

.account-data__list {
  position: relative;
  background: #FFFFFF;
  border: 1px solid #F0F0F0;
  border-radius: 12px;
  max-width: 850px;
  margin-bottom: 20px;
  padding: 24px 32px;
  width: 100%;

  @media(max-width: 767px) {
    max-width: 350px;
    position: relative;
    margin-bottom: 16px;
  }
}

.account-data__list_mt {
  @media (max-width: 767px) {
    margin-top: 16px;
  }
}

.account-data__list_data.active {
  .input-text {
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 6px;
    height: 48px;
    padding-left: 16px;
    width: 246px;
  }

  .personal-data__btn-change {
    visibility: hidden;
    opacity: 0;
  }

  .account-data__list-btn {
    display: block;
  }

  .personal-data__title {
    display: none;

    & + .personal-data__title_change {
      display: block;
    }
  }

  .input-text__wrapper {
    display: block;
  }

  @media (max-width: 767px) {
    transition: none;
    .personal-data__btn-change {
      display: none;
    }
    .content-data {
      padding-bottom: 0;
      border-bottom: none;
      transition: 0s;
    }
  }
}

.account-data__list_change {
  @media(max-width: 767px) {
    display: none;
  }
}

.account__content-data {
  margin-bottom: 194px;
}

.personal-data {
  display: flex;
  max-width: 786px;
  width: 100%;
  justify-content: space-between;
  @media(max-width: 767px) {
    flex-direction: column;
  }
}

.personal-data_subscriptions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 16px;
  @media(max-width: 767px) {
    flex-direction: row;
  }
}

.personal-data__title {
  font-size: 24px;
  @media(max-width: 767px) {
    font-size: 18px;
  }
}

.personal-data__title_change {
  display: none;
}

.personal-data__title-mobile {
  display: none;
  @media(max-width: 767px) {
    display: inline-block;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.3;
    color: $black;
  }
}

.personal-data__title_none {
  @media(max-width: 767px) {
    display: none;
  }
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  visibility: hidden;

  &:checked + label {
    background: #EF2B51;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $orange;

    &:before {
      content: "";
      width: 12px;
      height: 8px;
      -webkit-mask: url(../img/2.content/arrow.svg) center no-repeat;
      background: #FFFFFF;
      -webkit-mask-size: contain;
      display: block;

    }
  }
}

.checkbox__text {
  font-family: Inter, sans-serif;
  margin: 0 0 0 12px;
  @media(max-width: 767px) {
    font-size: 14px;
  }
}

.checkbox__label {
  width: 16px;
  height: 16px;
  border: 1px solid #A5A5A5;
  border-radius: 2px;
  display: block;
  cursor: pointer;

  &:hover {
  }
}

.personal-data__btn-change {
  position: absolute;
  top: 29px;
  right: 32px;
  color: #EF2B51;
  font-family: Inter, sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;

  &:hover {
    opacity: .4;
  }

  svg {
    margin-right: 12px;
  }

  @media(max-width: 767px) {
    position: static;
    padding-top: 16px;
    width: 100%;
  }
}

.content-data {
  display: flex;
  margin-top: 16px;
  flex-flow: wrap;
  width: 100%;
  @media(max-width: 767px) {
    flex-direction: column;
    margin: 0;
    padding-bottom: 16px;
    border-bottom: 1px solid $line-gray;
    transition: 0s;
  }
}

.content-data_password {
  .input-text__wrapper {
    display: none;
  }

  @media (max-width: 767px) {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.account-data__list-btn {
  width: 246px;
  margin-top: 16px;
  display: none;
}

.content-data_settings {
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 0;
}

.content-data__number {
  margin: 0 32px 0 32px;
  @media(max-width: 767px) {
    margin: 16px 0;
  }
}

.content-data__birth {
  margin-left: 32px;
  @media(max-width: 767px) {
    margin: 16px 0 30px 0;
    padding-bottom: 16px;
    border-bottom: 1px solid $line-gray;

  }
}

.input-text__wrapper {
  margin: 10px 15px 0 0;
  @media (max-width: 767px) {
    margin: 16px 0 0;
  }
}

.input-text {
  font-family: Inter, sans-serif;
  background: transparent;
  font-size: 16px;
  color: $black;
  width: 150px;
  transition: ease-in-out all 0.0s;
  outline: none;

  &::placeholder {
    color: $gray-text;
    font-size: 16px
  }
}

.input-text_short {
  width: 90px;
}

.content-data__list-title {
  color: #A5A5A5;

  font-size: 14px;
  margin-bottom: 5px;
}

.checkbox-text {
  font-family: Inter, sans-serif;
  @media(max-width: 767px) {
    font-size: 14px;
  }
}

.content-data__button {
  width: 246px;
  margin-top: 16px;
  @media(max-width: 767px) {
    font-size: 14px;
    width: 350px;
  }
}

.order-details {
  display: flex;

  .cart-popup__content {
    @media(max-width: 767px) {
      padding: 0;
      background: $white;
      display: unset;
    }
  }
}

//<!--/Account - Settings-->

//<!--payment-->
.payment {
  .payment__form {
    display: flex;
    flex-flow: column;
  }

  .block__content {
    max-width: 850px;
    @media (max-width: 767px) {
      max-width: 350px;
    }
  }

  .block__content_white {
    @media (max-width: 767px) {
      background: $white;
      max-width: unset;
      width: 100%;
      display: flex;
      justify-content: center;

    }
  }

  .block__content_slider {
    max-width: 990px;
    width: 100%;
    @media (max-width: 767px) {
      max-width: calc(100% - 20px);
      margin: 0 0 0 20px;
    }

  }

  .cart-popup__item {
    background: $white;
    @media (max-width: 767px) {
      margin-top: 12px;

    }
  }

  .cart-popup__item-group {
    width: 100%;
    flex-flow: row;
    justify-content: space-between;
    max-width: unset;
    @media (max-width: 767px) {
      flex-flow: column;


    }
  }

  .cart-popup__list {
    @media (max-width: 767px) {
      margin-top: 16px;

    }
  }

  .cart-popup__item-text {

    width: 100%;
    margin-right: 10px;

  }

  .cart-popup__item-cost {
    max-width: 191px;
    margin-top: 0;
    @media (max-width: 767px) {
      margin-top: 10px;

    }
  }

  .cart-popup__item-img {
    max-width: 120px;
    max-height: 120px;
    width: 100%;
    height: 100%;
    @media (max-width: 767px) {
      max-width: 84px;
      max-height: 84px;

    }
  }

  .cart-popup__item-cost-btns {
    margin-right: 10px;
  }

  .cart-popup__item-cost-final {
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }

  @media (max-width: 767px) {
    padding: 0;

  }

}

.payment__title_big {
  font-size: 40px;
  @media (max-width: 767px) {
    font-size: 18px;
  }
}

.payment__promo {
  margin-top: 16px;
  width: 100%;
  padding: 16px 24px;
  background: $white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(240, 240, 240);
  @media (max-width: 767px) {
    flex-flow: column;
    background: transparent;
    padding: 20px 0;
    border: none;
    border-top: 1px solid $line-gray;
    border-bottom: 1px solid $line-gray;
    border-radius: 0;
  }


}

.payment__promo-cost {
  font-weight: 600;
  font-size: 20px;
  color: $orange;
  width: max-content;
  display: inline-block;

  .payment__promo-cost-new {
    font-weight: 400;
    margin-left: 11px;
    font-size: 14px;
    line-height: 18px;
    text-decoration-line: line-through;

    color: $gray-text;

  }

  @media (max-width: 767px) {
    font-size: 18px;
    margin-top: 16px;
  }
}

.payment__promo-wrapper {
  max-width: 320px;
  position: relative;
  width: 100%;
  @media (max-width: 767px) {
    margin-right: 0;
    max-width: unset;

  }

}

.payment__input {
  outline: none;
  width: 100%;
  height: 48px;

  color: #191919;
  padding: 0 13px;
  border: 1px solid #F0F0F0;
  border-radius: 6px;
  font-size: 16px;

  &::placeholder {
    color: $gray-text;

    font-size: 16px;
  }

  @media (max-width: 767px) {
    font-size: 14px;
    height: 44px;
    &::placeholder {
      font-size: 14px;
    }


  }
}

.payment__promo-btn {
  background: #EF2B51;
  border-radius: 6px;
  max-width: 48px;
  max-height: 48px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: 0.8;

    svg {
      transform: scale(1.05);
    }
  }
}

.payment__title, .payment__form-title {
  font-size: 24px;
  margin-top: 30px;
  @media (max-width: 767px) {
    font-size: 18px;
  }
}

.payment__form-title {
  margin-bottom: 16px;
}

.payment__form-title_mt20 {
  margin-top: 20px;
}

.payment__form-part {
  width: 100%;
}

.payment__form-part_mb20 {
  padding-bottom: 20px;
  border-bottom: 1px solid $line-gray;
}

.payment__form-part_trio {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .payment__form-item {
    max-width: 270px;
    width: 100%;
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }

  @media (max-width: 767px) {
    flex-flow: column;
    align-items: flex-start;
    .payment__form-item {
      max-width: unset;
      margin: 16px 0 0;

      &:nth-child(1) {
        margin: 0;
      }
    }


  }

}

.payment__form-item {
  display: flex;
  flex-flow: column;
}

.payment__form-label {

  font-size: 14px;
  margin-bottom: 8px;
  color: $gray-text;
  @media (max-width: 767px) {
    font-size: 12px;

  }
}

.payment__form-title-group {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 20px;

  .payment__form-title {
    margin: 0 10px 0 0;
  }

  .choose-item-popup__switch-row {
    max-width: 350px;
    margin-top: 0;
  }

  @media (max-width: 767px) {
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    .payment__form-title {
      margin: 20px 0 16px;
    }
    .choose-item-popup__switch-row {
      margin-top: 0;
    }


  }
}

.payment__form-delivery {
  display: flex;
  flex-flow: column;

}

.payment__form-pickup {
  width: 100%;
  margin-top: 16px;

  .payment__form-item {
    width: 100%;
  }

}

.tab {
  display: none;

  &.active {
    display: block;
  }
}

.payment__form-delivery-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  flex-flow: wrap;

  .payment__form-item {
    max-width: 154px;
    margin-right: 5px;
    margin-top: 16px;
    @media (max-width: 767px) {
      margin-right: 0;


    }

    &:last-child {
      margin-right: 0;
    }

  }

  .payment__form-item_address {
    max-width: 850px;
    width: 100%;
    margin-right: 0;
    margin-top: 0;
    @media (max-width: 767px) {
      margin-top: 16px;
      width: 100%;
      max-width: 254px;


    }
  }

  .payment__form-item_short {
    @media (max-width: 767px) {
      width: 100%;
      max-width: 80px;


    }
  }
}

.payment__form-item-title {
  color: $gray-text;
  margin-top: 16px;
  margin-bottom: 12px;
}

.payment__form-radio-item {
  display: flex;
  align-items: center;
  margin-left: 24px;
  position: relative;

  .payment__form-radio-hidden:checked + .payment__form-radio-label .payment__form-radio:before{
    display: block;
  }

  &:nth-child(1) {
    margin-left: 0;
  }

  @media (max-width: 767px) {
    width: 100%;
    margin-left: 0;
    margin-top: 16px;
    &:nth-child(1) {
      margin-top: 0;
    }
  }

}

.payment__form-radio-hidden{
  position: absolute;
  visibility: hidden;
}

.payment__form-radio {
  cursor: pointer;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid $orange;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  &:before{
    content: '';
    display: none;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $orange;
  }
}

.payment__form-radio-label {
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    color: $orange;
  }
}

.payment__form-radio-row {
  display: flex;
  border-bottom: 1px solid $line-gray;
  padding-bottom: 20px;
  @media (max-width: 767px) {
    flex-flow: wrap;
    justify-content: space-between;
    align-items: flex-end;


  }
}

.payment__form-radio-item_input {
  position: relative;

  @media (max-width: 767px) {
    max-width: 167px;
    width: 100%;
    margin-top: 16px;
  }
}

.payment__form-radio-item_input-long {
  @media (max-width: 767px) {
    width: 100%;
    max-width: unset;
    .payment__input_short {
      width: 100%;
      max-width: unset;
    }

  }
}

.payment__input_short {
  max-width: 160px;
}

.payment__input-p {
  color: $gray-text;
  font-size: 16px;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  &:hover {
    path {
      fill: $orange
    }
  }
}

.payment__form-pick-date {
  display: flex;
  margin-left: 17px;
  opacity: 0;
  transition: 0s;
  visibility: hidden;
  width: 336px;
  position: relative;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  @media (max-width: 767px) {
    margin: -48px 0 0 0;
    width: 100%;
    justify-content: space-between;

    &.active {
      margin-top: 10px;
    }
  }
}

.payment__form-comment {
  width: 100%;
  resize: none;
  background: #FFFFFF;
  border: 1px solid #F0F0F0;
  border-radius: 6px;
  font-size: 16px;
  min-height: 200px;
  padding: 13px 16px;

  display: flex;

  &::placeholder {
    font-size: 16px;
    color: $gray-text;
  }

  @media (max-width: 767px) {
    min-height: 140px;


  }
}

.payment__form-final-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 60px;

  @media (max-width: 767px) {
    padding: 20px 0 12px;
    margin: 0;
    max-width: 350px;
    width: 100%;
    .payment__promo-cost {
      margin-top: 0;
    }
  }

}

.payment__form-final-btn {
  max-width: 178px;
  width: 100%;
}

.custom-select {
  display: flex;
  position: relative;
  flex-flow: column;
  width: 100%;
}

.custom-select_payment {
  width: 100%;
  background: #FFFFFF;
  border-radius: 6px;

  .custom-select__list_payment {
    top: 48px;
  }

  &:hover {
    cursor: pointer;

    .custom-select__arrow {
      svg {
        transform: scale(1.2);
      }
    }
  }
}

.custom-select_payment-small {
  max-width: 160px;
  margin-left: 16px;
}

.custom-select__arrow {
  position: absolute;
}

.custom-select__arrow_payment {
  right: 16px;
  top: 15px;
}

.custom-select__header {
  cursor: pointer;
  position: relative;

  &.active {
    & + .custom-select__list {
      opacity: 1;
      visibility: visible;
    }
  }
}

.custom-select__header_payment {
  color: $gray-text;
  border: 1px solid #F0F0F0;
  border-radius: 6px;
  padding: 15px 16px;
  background: $white;
  height: 48px;

}

.custom-select__list_payment {
  width: 100%;
  background: #FFFFFF;
  border-radius: 0 0 6px 6px;
  border: 1px solid #F0F0F0;


}

.custom-select__list {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column;
  z-index: 2;
}

.custom-select__list-item {
  cursor: pointer;
}

.custom-select__list-item_payment {
  padding: 15px 16px;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid $line-gray;
    background: rgba(239, 43, 81, 0.1);
  }
}

.custom-select__area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 1;

  &.active {
    display: unset;
  }
}

//<!--/payment-->

// input-counter

.input-counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(239, 43, 81, 0.1);
  border-radius: 6px;
  max-width: 92px;
  width: 100%;
  height: 36px;
  @media (max-width: 767px) {
    height: 32px;
  }
}

.input-counter__btn {
  font-size: 16px;
  color: $orange;
  padding: 0 8px;
  border-radius: 6px;
  height: 100%;
  border: 1px solid transparent;
  width: 28px;

  font-weight: 600;


  @media (min-width: 768px) {
    &:hover {
      border: 1px solid $orange;
    }
  }

  @media (max-width: 767px) {
    &:active {
      border: 1px solid $orange;
    }
  }
}

.input-counter__num {
  font-size: 16px;
  @media (max-width: 767px) {
    font-size: 14px;

  }
}

.calendar {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding: 20px;

  color: #000C18;
}

.calendar__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.calendar__year {
  display: flex;
  margin: 16px auto;
  width: auto;
  justify-content: space-between;
  align-items: center;
}

.calendar__year-btn {
  width: 11px;
  height: 7px;
  display: flex;
  justify-content: center;
  align-items: center;

  path {
    fill: $orange;
  }
}

.calendar__year-btn_next {
  transform: rotate(180deg);
}

.calendar__year-date {
  margin: 0 15px;
}

.calendar__table {
  display: grid;
  grid-template-columns: repeat(7, 52px);
  grid-template-rows: repeat(7, 32px);
  justify-content: space-between;
}

.calendar__table-title-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: 8;
}

.calendar__table-cell {
  width: 52px;
  height: 32px;
  padding: 7px 16px 6px;
  text-align: center;
  cursor: pointer;

  &:not(.calendar__table-cell_title):not(.calendar__table-cell_active):hover {
    color: $orange;
  }
}

.calendar__table-cell_title {
  color: $gray-text;
  cursor: default;
}

.calendar__table-cell_inactive {
  color: $gray-text;
}

.calendar__table-cell_active {
  background: $orange;
  color: $white;

  &.first {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  &.last {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}

.calendar__btns {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.calendar__btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: $orange;
}

.calendar__apply-btn {
  width: 151px;
  margin-left: 30px;
}

.order-details-block {
  display: block;
  width: 100%;
}

.account-popup__title-group {
  margin: 0 0 16px;
  display: flex;
  align-items: center;
  padding: 0 20px;

  @media (max-width: 767px) {
    padding: 0;
  }
}

.account-popup__title {
  font-size: 24px;
  margin-left: 17px;

  font-weight: 600;
}

.account-popup__title-back {
  display: flex;
  &:hover {
    transform: scale(1.1);
  }
}


@import "slider";
@import "footer";
@import "popups";

//Special classes
.dn {
  display: none;
}
