//Colors

$gray-text: #A5A5A5;
$line-gray: #F0F0F0;
$background-gray: #F9F9F9;
$light-primary: #FFEEE2;

$black: #191919;
$orange: #FF7010;
$white: #ffffff;
$red: #E23535;
$green: #24D17E;


//mixins

@mixin orange-border-hover{
  &:hover {
    border-color: $orange;
  }
}